body{
    background-color: #141414;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container{
    width: 340px;
    background-color: #1f1f1f;
    margin:  auto 0 ;
    border-radius: 0.5em;
    padding-bottom: 1em;
}

.details-image{
    border-radius: 100%;
    width: 100px;
    margin: 1em;
}
.details-text-h1{
    font-size: 2em;
    color: white;
    margin: 0;
}
.details-text-h3{
    color: #c5f82a;
    font-size: 1em;
    margin: 0;
}
.details-text-p{
    color: white;
    font-size: 1em;
}

.btn{
    background-color: #333333;
    color: white;
    margin:  1em;
    padding: 1em;
    border-radius: .5em;
}
.btn:hover{
    background-color: #c5f82a;
}